@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import 'bootstrap/dist/css/bootstrap.css';


$theme-colors: (
    "site-bg": #fff,
    "site-text": #202020,
    "site-primary": #fff,
    "site-secondary": #093464,
    "site-third": #F58D32,
    "site-fourth": #F58D32,
);

@function theme-color($color) {
    $color: map-get($theme-colors, $color);
    @return $color;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background: theme-color("site-bg");
    color: theme-color("site-color");
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.accordion-item .accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordion-item:not(.accordion-collapsed) .accordion-button {
    border: none;
    box-shadow: none;
}

section {
    padding: 4.5rem .5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: .45rem 1.5rem;
    outline: none;
    // background: #fff;
    background-color: rgb(229 15 15);
    border: none;
    cursor: pointer;
    color: #fff;
    // box-shadow: 0px 4px 6px 0px rgba(50, 50, 93, .11), 0px 1px 3px 0px rgba(0, 0, 0, .08);

    // &:hover {
    //     box-shadow: 1px 4px 8px 0px rgba(50, 50, 93, 0.178), 0px 1px 3px 0px rgba(0, 0, 0, .08) !important;
    // }

    // &:link, &:visited, &:active{
    //     background: #fff !important;
    //     box-shadow: 1px 4px 8px 0px rgba(50, 50, 93, 0.178), 0px 1px 3px 0px rgba(0, 0, 0, .08) !important;
    // }
}

button{
    // background: #fff !important;
    box-shadow: 1px 4px 8px 0px rgba(50, 50, 93, 0.062), 0px 1px 3px 0px rgba(0, 0, 0, 0.034) !important;
}


.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}





// ----------------------------------------------------





.main-wrapper{

    .main-container{

        header{
                        
            .container{

                .row{

                    .col{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1rem;
                        padding: .8rem .5rem;

                        a{
                            flex-basis: 0;
                            flex-grow: 1;
            
                            img{
                                width: 6rem;
                            }
                        }
            
            
                        nav{
                            flex-grow: 2;
                            flex-basis: 0;
            
                            ul{
                                list-style-type: none;
                                display: flex;
                                align-items: center;
                                gap: 1.5rem;
            
                                li{
                                    font-weight: 500;
                                    font-size: .9rem;
            
                                }
                            }
                        }
            
                        .search-cart{
                            flex-grow: 1;
                            flex-basis: 0;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            gap: 1rem;
            
                            .search{
                                position: relative;
                                // width: 28%;
            
                                input{
                                    padding: .5rem .7rem;
                                    width: 100%;
                                }
            
                                i{
                                    position: absolute;
                                    top: 50%;
                                    right: .15rem;
                                    transform: translate(-50%, -50%);
                                    font-size: 1.3rem;
            
                                }
                            }
            
                            .icon{
                                display: flex;
            
                                i{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }  
        }

        .hero{
            width: 100%;
            display: flex;
            flex-direction: column;

            img{
                width: 100%;
            }
        }

        .about-wrapper{
            width: 100%;
            background-image: url('bg-about.jpg');
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
            // transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: 50px 0px 50px 0px;

            .container{
                
                .heading{
                    text-align: center;
                    margin-bottom: 2rem;
                }

                .row{
                    .col1{
                        .wrapper{

                            img{

                            }

                            p{

                            }
                        }
                    }

                    .col2{
                        .wrapper{
                            h3{

                            }

                            p{

                            }

                            img{

                            }
                        }
                    }

                    button{
                        text-align: center;
                    }
                }
            }
        }

        .popular-products{

             .container{

                .heading{
                    text-align: center;
                    margin-bottom: 2rem;
                }

                .row{

                    .col{
                        width: 100%;
                        
                        .main{
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            .product-wrapper{
                                width: auto;
                                // border: 1px solid red;
                                // width: 100%;
                                // display: flex;
                                // align-items: flex-start;
                                // justify-content: center;
                                // flex-wrap: wrap;
                                // gap: 2rem;

                                @media (min-width: 768px) {
                                    display: grid;
                                    justify-items: center;
                                    grid-gap: 30px;
                                    grid-template-columns: repeat(4, 1fr);
                                }

                                @media (min-width: 576px) and (max-width: 767px) {
                                    display: grid;
                                    justify-items: center;
                                    grid-gap: 20px;
                                    grid-template-columns: repeat(2, 1fr);
                                }

                                @media (max-width: 575px) {
                                    // width: auto;
                                    display: grid;
                                    justify-items: center;
                                    grid-gap: 20px;
                                    grid-template-columns: repeat(1, 1fr);
                                }
    
                                .product{
                                    // width: 21%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-self: flex-start;
    
                                    img{
    
                                    }
    
                                    .content{
    
                                        h5{
    
                                        }
    
                                        h4{
    
                                        }
    
                                        button{
    
                                        }
                                    }
    
                                }
                            }

                            .more-btn{
                                margin-top: 3rem;
                            }
                        }

                    }
                }
             }
        }

        .banner{
            width: 100%;

            img{
                width: 100%;

            }
        }

        .gift-boxes{

            .container{

               .heading{
                   text-align: center;
                   margin-bottom: 2rem;
               }

               .row{

                   .col{
                       width: 100%;
                       
                       .main{
                           display: flex;
                           flex-direction: column;
                           align-items: center;

                           .product-wrapper{
                               width: auto;
                            //    border: 1px solid red;
                               // width: 100%;
                               // display: flex;
                               // align-items: flex-start;
                               // justify-content: center;
                               // flex-wrap: wrap;
                               // gap: 2rem;

                               @media (min-width: 768px) {
                                   display: grid;
                                   justify-items: center;
                                   grid-gap: 30px;
                                   grid-template-columns: repeat(4, 1fr);
                               }

                               @media (min-width: 576px) and (max-width: 767px) {
                                   display: grid;
                                   justify-items: center;
                                   grid-gap: 20px;
                                   grid-template-columns: repeat(2, 1fr);
                               }

                               @media (max-width: 575px) {
                                   // width: auto;
                                   display: grid;
                                   justify-items: center;
                                   grid-gap: 20px;
                                   grid-template-columns: repeat(1, 1fr);
                               }
   
                               .product{
                                   // width: 21%;
                                   display: flex;
                                   flex-direction: column;
                                   justify-self: flex-start;
   
                                   img{
   
                                   }
   
                                   .content{
   
                                       h5{
   
                                       }
   
                                       h4{
   
                                       }
   
                                       button{
   
                                       }
                                   }
   
                               }
                           }

                           .more-btn{
                               margin-top: 3rem;
                           }
                       }

                   }
               }
            }
       }

       .order-store-info{
        width: 100%;
        
        .wrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // gap: 2rem;

            @media (max-width: 767px) {
                flex-wrap: wrap;
            }

            .left{
                margin: 10px 0px 10px 0px;
                width: 100%;
                height: 15rem;
                background-image: url(/images/order-info.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;

                @media (min-width: 768px) {
                    margin-right: .7rem;
                }
                
                h4{
                    text-align: center;
                    padding: 120px 0px 120px 0px;
                }
            }

            .right{
                margin: 10px 0px 10px 0px;
                width: 100%;
                height: 15rem;
                background-image: url(/images/store-info.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;

                @media (min-width: 768px) {
                    margin-left: .7rem;
                }

                h4{
                    text-align: center;
                    padding: 120px 0px 120px 0px;
                }
            }

        }

       }

       footer{
        background-image: url(/images/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        padding: 30px 0 30px 0;

        .wrapper{

            .container{

                .row{

                    .col{

                        .main{
                            margin-top: 1rem;
                            text-align: center;
                            color: #fff;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            gap: 1rem;
                            
                            h2{
    
                            }
    
                            .content{

                                p{

                                }

                                .copyright{

                                    p{

                                    }
                                }
    
                            }
                        }
                    }
                }
            }
        }
       }


    }
}

